# Discord API client ID
client_id_discord: ''

# Discord API client token
token_discord: ''

# Command prefix
prefix_discord: 'atem:'

# ID of bot owner
owner_discord: ''

# game the bot is playing
game_discord: 'check | atem:help'

# A third-party API
api: ''

# API pics
api_pict: ''
