###################################################################
###################################################################
# DISCORD configurations
# set 'development' if you develop bot and 'production' if you ready to publish bot
mode_discord: 'development'

# Discord client ID
client_id_discord: ''

# Discord token
token_discord: ''

# Discord command prefix
prefix_discord_development: 'test:'
prefix_discord_production: 'atem:'

# Discord ID of bot owner
owner_discord: ''

# Discord game the bot is playing
game_discord_development: 'MAINTENANCE'
game_discord_production: 'check | atem:help'

###################################################################
###################################################################
# TELEGRAM Configurations

token_telegram: ''